.services {
  &__banner {
  }
}
.banner {
  --BannerImageOffsetY: 24px;

  padding-block: var(--BannerImageOffsetY);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: var(--border-radius-large);
    background: rgb(243, 243, 243);
    @include mobile {
      justify-content: center;
      align-items: start;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 26px;
    padding: 60px;
    @include tablet {
      padding: 50px;
    }
  }

  &__title {
    font-size: 30px;
    font-weight: 500;
    @include mobile {
      max-width: 290px;
    }
  }

  &__subtitle {
    max-width: 500px;
    @include mobile {
      max-width: 290px;
    }
  }

  &__button {
  }

  &__img {
    @include tablet {
      max-width: 50%;
    }
    @include mobile {
      display: none;
    }
  }
}
.button {
}
