.grid {
  --gridColumns: 1;
  @include tablet {
    gap: 30px;
  }
  display: grid;
  grid-template-columns: repeat(var(--gridColumns), 1fr);
  gap: 40px;

  @for $i from 2 through 12 {
    &--#{$i} {
      --gridColumns: #{$i};
    }
  }
  &--2 {
    @include tablet {
      --gridColumns: 1;
    }
  }
  &__team {
    --gridColumns: 3;
    display: grid;
    grid-template-columns: repeat(var(--gridColumns), 1fr);
    gap: 40px;
    @include desktop {
      gap: 40px;
      --gridColumns: 2;
    }
    @include mobile {
      gap: 20px;
      --gridColumns: 1;
    }
  }
}
